@import '~reset-css';

/* You can add global styles to this file, and also import other style files */
html * {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
