<h2>Add new task:</h2>

<form
  (ngSubmit)="onSubmit()"
  *ngIf="formGroup"
  [formGroup]="formGroup"
  class="form"
>
  <mat-form-field>
    <mat-label>Task name</mat-label>
    <mat-placeholder>Zrobić pranie...</mat-placeholder>
    <!-- formControl -> formControlName -->
    <input [formControlName]="'name'" matInput />
    <!-- todo - display form errors -->
  </mat-form-field>

  <button
    [disabled]="loading"
    class="form__button"
    color="primary"
    mat-raised-button
    type="submit"
  >
    +Add
  </button>
</form>
