<mateusz-d-todo-list-task-form
  (submitted)="newTaskHandler($event)"
  [loading]="taskCreating$ | async"
></mateusz-d-todo-list-task-form>

<div class="container">
  <mat-progress-spinner
    *ngIf="taskCollectionLoading$ | async; else loaded"
  ></mat-progress-spinner>

  <ng-template #loaded>
    <div class="container__lists">
      <div class="list">
        <p class="list__header">To do:</p>

        <mateusz-d-todo-list-task-list
          (markedAsDone)="onMarkedAsDone($event)"
          (removed)="onRemove($event)"
          (updated)="onUpdate($event)"
          [tasks]="taskTodoCollection$ | async"
          class="list__content"
        ></mateusz-d-todo-list-task-list>
      </div>
      <div class="list">
        <p class="list__header">Done:</p>

        <mateusz-d-todo-list-task-list
          (markedAsToDo)="onMarkedAsTodo($event)"
          (removed)="onRemove($event)"
          (updated)="onUpdate($event)"
          [tasks]="taskDoneCollection$ | async"
          class="list__content"
        ></mateusz-d-todo-list-task-list>
      </div>
    </div>
  </ng-template>
</div>
