.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.container__lists {
  display: flex;
  width: 100%;
}

.list {
  display: block;
  width: 100%;
  padding: 20px;
}

.list__header {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin: 15px auto 20px;
  text-align: center;
}

.list__content {
  width: 100%;
  display: block;
}
