<form
  *ngIf="formGroup"
  class="form"
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <button type="submit" mat-raised-button [disabled]="formGroup.invalid">
    Login
  </button>
</form>
