<mat-card
  *ngIf="taskDetails"
  [ngClass]="{ 'card--done': taskDetails.done }"
  class="card mat-elevation-z2"
>
  <form (ngSubmit)="onSubmit()" *ngIf="formGroup" [formGroup]="formGroup">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>
          {{
            taskDetails.done
              ? 'sentiment_very_satisfied'
              : 'sentiment_very_dissatisfied'
          }}
        </mat-icon>
      </div>
      <mat-card-title>
        <mat-form-field *ngIf="editMode; else readonlyTemplate">
          <mat-label>Task name</mat-label>
          <input [formControlName]="'name'" matInput />
          <!-- todo - display form errors -->
        </mat-form-field>

        <ng-template #readonlyTemplate>
          {{ taskDetails.name }}
        </ng-template>
      </mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button
        (click)="onMarkAsDone()"
        *ngIf="!taskDetails.done"
        mat-button
        type="button"
      >
        Done
      </button>
      <button
        (click)="onMarkAsTodo()"
        *ngIf="taskDetails.done"
        mat-button
        type="button"
      >
        Undone
      </button>
      <button
        (click)="onToggleEditMode()"
        *ngIf="!editMode"
        mat-button
        type="button"
      >
        Edit
      </button>
      <button *ngIf="editMode" mat-button type="submit">Save</button>
      <button (click)="onRemove()" mat-button type="button">Remove</button>
    </mat-card-actions>
  </form>
</mat-card>
